<p>
    Veuillez confirmer votre adresse email en cliquant sur le lien suivant :<br><br>
    <a href="{{ signedUrl|raw }}">Confirmez mon adresse email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>