body {
    background-color: #D03A3B;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer {
    margin-top: auto;
}
#navbar-header, #navbar-footer, .page-link {
    background-color: #D03A3B !important;
}
.dropdown-menu {
    background-color: #D03A3B;
}
/* .nav-link, .dropdown-item, .form-control, input::placeholder {
    font-family: 'Luckiest Guy';
    font-size: 16px;
} */
.page-link {
    border: none !important;
    color: #ffffff;
}
#page-disabled {
    color: #ffffff !important;
}
.active>.page-link, .page-link.active {
    color: #FFF559;
}
.a-link-footer {
    text-decoration: none;
    color: #ffffff;
    /* font-family: 'Luckiest Guy'; */
    /* font-size: 13px; */
}
input::placeholder {
    color: rgb(162, 162, 162) !important;
    font-size: 14px;
}
.dropdown-item {
    color: #ffffff !important;
}
.dropdown-item:hover {
    color: #FFF559 !important;
    background-color: #D03A3B;
}
.nav-link:hover, .a-link-footer:hover, .page-link:hover, .link-cat:hover {
    color: #FFF559 !important;
}
.navbar-toggler {
    border-color: #ffffff;
    color: #ffffff;
}
.navbar-toggler:hover {
    color: #ffffff;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
.a-link-card {
    text-decoration: none;
    color: inherit;
}
.a-link-card-sub {
    text-decoration: none;
    color: inherit;
}
.a-link-card:hover, .a-link-card-sub:hover {
    color: #D03A3B;
}
h1 {
    color: #FFF559;
    font-family: 'Luckiest Guy';
}
#div-accueil {
    border-color: #ffffff;
    border-width: 2px;
    border-style: solid;
    padding: 20px;
    box-shadow: 0px 0px 5px 3px #ffffff;
}
.a-link-pro {
    text-decoration: none;
    color: inherit;
}
.a-link-pro:hover {
    color: #D03A3B;
}
.div-promo {
    text-align: center;
    border-color: #ffffff;
    border-width: 5px;
    border-style: solid;
    padding: 20px;
    box-shadow: 0px 0px 5px 3px #ffffff;
}
.h1-promo {
    color: #FFF559 !important;
    font-family: 'Luckiest Guy' !important;
    font-size: 30px;
}
.h1-promo-2 {
    color: #ffffff !important;
    font-family: 'Luckiest Guy' !important;
}
.li-cat {
    list-style: none;
    text-align: center;
}
.link-cat {
    text-decoration: none;
    color: #ffffff;
}
#contact_form_email, #contact_form_objet, #contact_form_message, #inputEmail, #inputPassword, #registration_form_email, #registration_form_plainPassword, #reset_password_request_form_email, #change_password_form_plainPassword_first, #change_password_form_plainPassword_second {
    background-color: #D9D9D9;
    border-color: #000000;
}
#contact_form_email:focus, #contact_form_objet:focus, #contact_form_message:focus, #inputEmail:focus, #inputPassword:focus, #registration_form_email:focus, #registration_form_plainPassword:focus, #reset_password_request_form_email:focus, #change_password_form_plainPassword_first:focus, #change_password_form_plainPassword_second:focus {
    box-shadow: 0 0 4px 0 #D03A3B; 
    outline: 3px solid #D03A3B;
    border-color: #D03A3B;
}
#contact_form_save, #submit_login, #registration_form_agreeTerms, #checkbox_login, #submit_reset, #submit_reset_new {
    background-color: #D03A3B;
    border-color: #D03A3B;
}
#submit_register {
    background-color: #D03A3B;
    border-color: #D03A3B;
    color: #ffffff;
}
#registration_form_agreeTerms:focus, #checkbox_login:focus {
    outline: none;
    box-shadow: none;
}
#a-link-login, #a-link-login-mdp, #a-link-mdp {
    color: inherit;
}
#a-link-login:hover, #a-link-login-mdp:hover, #a-link-mdp:hover {
    color: #D03A3B;
}
/* .active-link {
    border-style: solid;
    border-width: 1px;
    border-color: #FFF559;
} */
/* .form-control:focus {
    box-shadow: 0 0 4px 0 #FFF559; 
    outline: 2px solid #FFF559;
} */
@media screen and (max-width: 905px) {
	.h1-promo {
        font-size: 25px;
    }
    .div-promo {
        padding: 10px;
        width: 250px;
        margin-left: 180px;
    }
    #div-pro {
        margin-left: 120px !important;
    }
    #card-syno {
        width: 20rem !important;
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
    #card-contact {
        width: auto !important;
    }
}
@media screen and (max-width: 768px) {
    #card-pro, #card-pro-acc, #card-pro-g {
        width: 18rem;
    }
}
@media screen and (max-width: 620px) {
	#input-search {
        width: auto !important;
    }
    #div-2-footer {
        margin-right: 0px !important;
    }
    .h1-promo {
        font-size: 20px;
    }
    .div-promo {
        margin-left: 115px;
    }
}
@media screen and (max-width: 575px) {
    .div-promo {
        padding: 25px;
        margin-left: 85px;
    }
    #div-pro {
        margin-left: 100px !important;
    }
}
@media screen and (max-width: 490px) {
	#div-accueil {
        padding: 10px;
    }
    .h1-promo {
        font-size: 17px;
    }
    .div-promo {
        margin-left: 65px;
    }
    #div-pro {
        margin-left: 80px !important;
    }
}
@media screen and (max-width: 460px) {
	#div-accueil {
        padding: 0px;
        border-width: 0px !important;
        box-shadow: none;
    }
    .div-promo {
        margin-left: 45px;
    }
}
@media screen and (max-width: 420px) {
	#div-accueil {
        margin-left: 50px;
    }
    .div-promo {
        margin-left: 30px;
    }
    #card-pro, #card-pro-acc, #card-pro-g {
        width: 15rem;
    }
    #div-pro {
        margin-left: 70px !important;
    }
    #contact_form_message {
        width: 25ch !important;
        height: 15ch;
    }
    #submit_login, #label_remember {
        margin-top: 1rem !important;
    }
}
@media screen and (max-width: 375px) {
	#div-2-footer {
        margin-right: 0px !important;
    }
    #div-accueil {
        margin-left: 35px;
    }
    .div-promo {
        margin-left: 5px;
    }
    #div-pro {
        margin-left: 60px !important;
    }
    #checkbox_login {
        margin-left: 0rem !important;
    }
}