{% extends 'base.html.twig' %}

{% block title %}React{% endblock %}

{% block body %}
     {{ encore_entry_link_tags('app-react') }}
     <div id="react-app"></div>
     {{ encore_entry_script_tags('app-react') }}
{% endblock %}
